<div class="w-full mt-4 bg-white rounded-lg shadow-lg">
  <div class="flex flex-row p-4 justify-between border-b">
    <div>
      <h2 class="text-2xl font-bold">Checkliste</h2>
      <p class="text-sm text-gray-500">
        Durch die Zuhilfenahme der Checkliste können verbrauchte oder abhanden gekommene Ausstattungsgegenstände erkannt
        werden.
      </p>
      <p class="mt-3 text-sm text-gray-500">
        Die folgenden Gegenstände sind verbraucht oder nicht vorhanden und müssen ersetzt werden.
      </p>
    </div>
    <div>
      <button class="w-10 h-10 m-2 bg-gray-100 hover:bg-gray-200 text-blue-500 shadow-inner rounded-full cursor-pointer" (click)="openChecklisteModal()">
        <icons class="w-8 h-8 stroke-1 stroke-current" name="add"></icons>
      </button>
    </div>
  </div>
  <div *ngFor="let item of (unchecked$ | async)" class="p-4 border-b hover:bg-gray-50" [ngClass]="{'text-red-600': item.relevant == true}">
    {{ item.bezeichnung }}
  </div>
</div>
