<app-modal #modalComponent>
  <header class="flex items-center justify-between">
    <p tabindex="0" class="dark:text-gray-50 focus:outline-none text-2xl font-semibold leading-6 text-gray-800">
      Benachrichtigungen
    </p>
    <button (click)="cancel()"
      class="w-6 h-6 focus:outline-none rounded-md cursor-pointer">
      <icons class="w-6 h-6 stroke-1 stroke-current text-gray-500" name="x"></icons>
    </button>
  </header>

  <!-- alert -->
  <div class="w-full p-3 mt-8 bg-red-200 dark:bg-gray-700 dark:text-gray-50 rounded shadow flex">
    <div class="w-8 h-8 flex items-center justify-center">
      <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500 dark:text-red-500" name="alert-triangle"></icons>
    </div>
    <div class="pl-3">
      <p class="focus:outline-none text-sm leading-none"><span class="text-indigo-700 dark:text-blue-500">James Doe</span>
        got an <span class="text-indigo-700 dark:text-blue-500">alert</span></p>
      <p class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">2 hours ago</p>
    </div>
  </div>
  <div class="w-full p-3 mt-4 bg-red-300 dark:bg-gray-700 dark:text-gray-50 rounded shadow flex flex-shrink-0">
    <div class="focus:outline-none w-8 h-8 flex flex-shrink-0 items-center justify-center">
      <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500 dark:text-red-500" name="alert-triangle"></icons>
    </div>
    <div class="pl-3 w-full">
      <div class="flex items-center justify-between w-full">
        <p class="focus:outline-none text-sm leading-none"><span class="text-indigo-700 dark:text-blue-500">James Doe</span>
          got an <span class="text-indigo-700 dark:text-blue-500">alert</span></p>
        <button (click)="show = !show" class="w-4 h-4 focus:outline-none cursor-pointer">
          <icons class="w-4 h-4 stroke-2 stroke-current text-gray-500" name="settings"></icons>
        </button>
      </div>
      <p class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">2 hours ago</p>
    </div>
  </div>
  <!-- manage -->
  <div *ngIf="show" class="absolute w-full lg:max-w-lg md:max-w-md p-8 top-0 bottom-0 right-0 bg-gray-50 dark:bg-gray-800 text-left overflow-hidden shadow-xl sm:align-middle" @slideInRight @slideOutRight>
    <header class="flex items-center justify-between">
      <button (click)="show = !show" class="w-6 h-6 focus:outline-none rounded-md cursor-pointer">
        <icons class="w-6 h-6 stroke-1 stroke-current text-gray-500" name="chevron-left"></icons>
      </button>
      <p class="dark:text-gray-50 focus:outline-none text-2xl font-semibold leading-6 text-gray-800">
        Manage
      </p>
    </header>
  </div>
  <!-- information -->
  <div class="w-full p-3 mt-4 bg-yellow-100 dark:bg-gray-700 dark:text-gray-50 rounded shadow flex flex-shrink-0">
    <div class="focus:outline-none w-8 h-8 flex flex-shrink-0 items-center justify-center">
      <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500 dark:text-yellow-500" name="alert-circle"></icons>
    </div>
    <div class="pl-3 w-full">
      <div class="flex items-center justify-between w-full">
        <p class="focus:outline-none text-sm leading-none"><span class="text-indigo-700 dark:text-blue-500">James
            Doe</span>got an <span class="text-indigo-700 dark:text-blue-500">information</span></p>
        <button class="w-4 h-4 focus:outline-none cursor-pointer">
          <icons class="w-4 h-4 stroke-2 stroke-current text-gray-500" name="x"></icons>
        </button>
      </div>
      <p class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">2 hours ago</p>
    </div>
  </div>
  <div class="w-full p-3 mt-4 bg-white dark:bg-gray-700 dark:text-gray-50 rounded shadow flex flex-shrink-0">
    <div class="focus:outline-none w-8 h-8 flex flex-shrink-0 items-center justify-center">
      <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500 dark:text-yellow-500" name="alert-circle"></icons>
    </div>
    <div class="pl-3">
      <p class="focus:outline-none text-sm leading-none"><span class="text-indigo-700 dark:text-blue-500">James
          Doe</span>got an <span class="text-indigo-700 dark:text-blue-500">information</span></p>
      <p class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">2 hours ago</p>
    </div>
  </div>

  <div class="flex items-center justiyf-between">
    <hr class="w-full" />
    <p tabindex="0" class="focus:outline-none text-sm flex flex-shrink-0 leading-normal px-3 py-16 text-gray-500">
      Keine weiteren Benachrichtigungen</p>
    <hr class="w-full" />
  </div>
  <!-- <footer>
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </footer> -->
</app-modal>

<!-- <ng-template #toolbar>
    <div class="py-3 flex justify-between">
        <div>
            <button (click)="cancel()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Abbrechen</button>
        </div>
    </div>
</ng-template> -->
