<section class="example-container">
  <header>
    <div>
      <app-progress [value]="selectedIndex + 1" [maxvalue]="steps.length"></app-progress>
    </div>
  </header>
  <div [ngTemplateOutlet]="selected ? selected.content : null"></div>

  <footer class="example-step-navigation-bar">
    <button cdkStepperPrevious>&larr;</button>
    <button [class.example-active]="selectedIndex === i" *ngFor="let step of steps; let i = index"
      (click)="selectStepByIndex(i)">
      Step {{ i + 1 }}
    </button>
    <button cdkStepperNext>&rarr;</button>
  </footer>
</section>
