<div class="rounded xl:hidden flex justify-between w-full p-6 items-center border-b border-gray-200 ">
  <div aria-label="toggler" class="flex justify-center items-center">
    <button id="open" [ngClass]="'text-gray-800 ' + (status ? 'hidden' : 'block')" aria-label="open"
      (click)="sidebarHandler()" class="focus:outline-none ">
      <icons name="menu"></icons>
    </button>
    <button *ngIf="status === true" aria-label="close" (click)="sidebarHandler()" class=" focus:outline-none ">
      <icons name="menu-off"></icons>
    </button>
  </div>
  <div class="flex justify-between  items-center space-x-3">
    <p class="text-2xl leading-6 text-gray-800">OvonRueden</p>
    <icons name="logo-or"></icons>
  </div>
</div>
<div class="bottom-0" [ngClass]="status ? 'transform translate-x-0 rounded ease-in-out transition duration-500 flex justify-start items-start w-full sm:w-64 border-r border-b border-gray-200  flex-col h-full' :'-translate-x-full rounded  ease-in-out transition duration-500 flex justify-start items-start w-full sm:w-64 border-r border-b border-gray-200 flex-col h-full transform'">
  <div class="hidden xl:flex justify-start p-6 items-center space-x-3 border-gray-200 border-b w-full">
    <icons name="logo-or"></icons>
    <p class="text-2xl leading-6 text-gray-800">OvonRueden</p>
  </div>
  <div class="mt-6 flex flex-col justify-start items-center  px-4 w-full space-y-3 pb-5 ">
    <button class="focus:outline-none flex jusitfy-start hover:text-white focus:bg-indigo-700 focus:text-white hover:bg-indigo-700 text-gray-800 rounded py-3 pl-4 items-center space-x-6 w-full ">
      <icons name="dashboard"></icons>
      <p class="text-base leading-4 ">Dashboard</p>
    </button>
    <button class="focus:outline-none flex jusitfy-start hover:text-white focus:bg-indigo-700 focus:text-white hover:bg-indigo-700 text-gray-800 rounded py-3 pl-4  items-center w-full  space-x-6">
      <icons name="users"></icons>
      <p class="text-base leading-4 ">Users</p>
    </button>
    <button class="flex justify-start items-center space-x-6 hover:text-white focus:bg-indigo-700 focus:text-white hover:bg-indigo-700 text-gray-800 rounded py-3 pl-4   w-full ">
      <icons name="messages"></icons>
      <p class="text-base leading-4">Messages</p>
    </button>
    <button class="focus:outline-none flex justify-start items-center space-x-6 hover:text-white focus:bg-indigo-700 focus:text-white hover:bg-indigo-700 text-gray-800 rounded  py-3 pl-4   w-full ">
      <icons name="security"></icons>
      <p class="text-base leading-4  ">Security</p>
    </button>
    <button class="focus:outline-none flex justify-start items-center space-x-6 hover:text-white focus:bg-indigo-700 focus:text-white hover:bg-indigo-700 text-gray-800 rounded  py-3 pl-4   w-full ">
      <icons name="notification"></icons>
      <p class="text-base leading-4  ">Notifications</p>
    </button>
  </div>
  <div class="flex flex-col justify-between items-center h-full space-y-80 w-full">
    <div class="space-y-3 flex pt-8 border-gray-200 border-t justify-start pb-6 px-4 pl-4 flex-col items-center w-full">
      <button class="focus:outline-none flex justify-start items-center space-x-6 hover:text-white focus:bg-indigo-700 focus:text-white hover:bg-indigo-700 text-gray-800 rounded  py-3 pl-4  w-full ">
        <icons name="settings2"></icons>
        <p class="text-base leading-4  ">Settings</p>
      </button>
      <button class="focus:outline-none flex justify-start items-center space-x-6 hover:text-white focus:bg-indigo-700 focus:text-white hover:bg-indigo-700 text-gray-800 rounded  py-3 pl-4  w-full ">
        <icons name="logout2"></icons>
        <p class="text-base leading-4  ">Logout</p>
      </button>
    </div>
  </div>
</div>
