<app-modal #modalComponent>
    <header class="h-16 p-8 flex items-center justify-between border-b">
      <p tabindex="0" class="dark:text-gray-50 focus:outline-none text-2xl font-semibold leading-6 text-gray-800">
        {{ title }}
      </p>
      <button (click)="cancel()"
        class="w-6 h-6 focus:outline-none rounded-md cursor-pointer">
        <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="x"></icons>
      </button>
    </header>
    <div class="content">
        <form [formGroup]="besatzungForm">
            <div class="hidden">
              <mat-form-field appearance="fill">
                <mat-label>id</mat-label>
                <input matInput type="text" formControlName="id">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>id_streife</mat-label>
                <input matInput type="text" formControlName="id_streife">
              </mat-form-field>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Personalnummer</mat-label>
              <input matInput type="text" formControlName="persnr">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Funktion</mat-label>
              <mat-select formControlName="funktion">
                <mat-option *ngFor="let funktion of funktionen" [value]="funktion.bezeichnung">
                  {{ funktion.bezeichnung }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>An Bord</mat-label>
              <input matInput type="datetime-local" formControlName="an_bord" value="{{besatzungForm.value.an_bord | date:'yyyy-MM-ddTHH:mm':'+2:00'}}">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Von Bord</mat-label>
              <input matInput type="datetime-local" formControlName="von_bord" value="{{besatzungForm.value.von_bord | date:'yyyy-MM-ddTHH:mm':'+2:00'}}">
            </mat-form-field>

            <!-- <div class="relative my-5" hidden>
              <input type="text" formControlName="id" required>
              <span class="bar"></span>
              <label class="text-black">Id</label>
            </div>
            <div class="relative my-5" hidden>
              <input type="text" formControlName="id_streife" required>
              <span class="bar"></span>
              <label class="text-black">Id_Streife</label>
            </div>
            <div class="relative my-5">
              <input type="text" formControlName="funktion" required>
              <span class="bar"></span>
              <label class="text-black">Funktion</label>
            </div>
            <div class="relative my-5">
              <input type="string" formControlName="persnr" required>
              <span class="bar"></span>
              <label class="text-black">Personalnummer</label>
            </div>
            <div class="relative my-5">
              <input type="text" formControlName="name" required>
              <span class="bar"></span>
              <label class="text-black">Name</label>
            </div>
            <div class="relative my-5">
              <input type="datetime-local" formControlName="an_bord" value="{{besatzungForm.value.an_bord | date:'yyyy-MM-ddTHH:mm':'+2:00'}}">
              <span class="bar"></span>
              <label class="text-black">An Bord</label>
            </div>
            <div class="relative my-5">
              <input type="datetime-local" formControlName="von_bord" value="{{besatzungForm.value.von_bord | date:'yyyy-MM-ddTHH:mm':'+2:00'}}">
              <span class="bar"></span>
              <label class="text-black">Von Bord</label>
            </div> -->
          </form>
    </div>
    <footer class="absolute h-16 px-8 right-0 bottom-0 left-0 flex items-center justify-between border-t">
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </footer>
</app-modal>

<ng-template #toolbar>
    <!-- <div class="py-3 flex justify-between"> -->
        <div>
          <button (click)="cancel()" type="button" class="p-2 mr-3 bg-gray-800 text-white rounded">Abbrechen</button>
          <button *ngIf="besatzungForm.value.id" (click)="delete(besatzungForm.value.id)" type="button" class="p-2 mr-3 bg-red-400 text-black rounded">löschen</button>
        </div>
        <div>
            <button *ngIf="!besatzungForm.pristine && besatzungForm.value.id" (click)="update()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Speichern</button>
            <button *ngIf="!besatzungForm.value.id" (click)="create()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Erstellen</button>
        </div>
    <!-- </div> -->
</ng-template>
