<div class="container mx-auto px-4">
    <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%">
        <thead>
            <tr>
                <th class="w-28">Name</th>
                <th hidden>ID</th>
                <th class="w-28">Datum</th>
                <th>Ort</th>
                <th>Kraftstoff</th>
                <th>Menge</th>
                <th class="w-12"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let betankung of (betankungen$ | async | toArray)">
                <td>{{ betankung.name }}</td>
                <td hidden>{{ betankung.id }}</td>
                <td>{{ betankung.date | date: 'dd.MM.yyyy' }}</td>
                <td>{{ betankung.ort }}</td>
                <td>{{ betankung.fuel }}</td>
                <td>{{ betankung.fuelfillingquantity }}</td>
                <td class="flex flex-row justify-start text-gray-500">
                    <button class="w-6 h-6" [matMenuTriggerFor]="editMenu">
                        <icons class="w-6 h-6 stroke-1 stroke-current cursor-pointer" name="dots-horizontal"></icons>
                    </button>
                    <mat-menu #editMenu="matMenu">
                        <button mat-menu-item (click)="showModal(betankung)" tooltip="Bearbeiten der ausgewählten Betankung" placement="top" [offset]="20">
                            Bearbeiten
                        </button>
                        <button mat-menu-item (click)="delete(betankung.id)">
                            Löschen
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="mt-5 p-2 flex items-center bg-gray-100 border border-gray-300 text-gray-600 transition duration-150 ease-in-out hover:bg-blue-600 hover:text-white rounded cursor-pointer" (click)="showModal()">
        <span class="h-6 w-6 mr-2">
            <icons class="w-6 h-6 stroke-1 stroke-current" name="add"></icons>
        </span>
        Betankung hinzufügen
    </button>
</div>
