<div class="container mx-auto p-4">
    <div class="w-full bg-gray-200 p-4 rounded">
        <div class="flex flex-row mb-3">
            <icons class="w-6 h-6 stroke-2 stroke-current" name="filter"></icons>
            <span class="ml-2 text-lg font-bold">Filter</span>
        </div>
        <!-- <div class="flex flex-row items-center mb-4">
            <button class="px-3 mt-2 mr-2 bg-gray-300 text-black rounded-full" [ngClass]="(status == 'alle') ? 'bg-blue-600 text-white' : ''" (click)="toggleReparaturen('alle')">Alle</button>
            <button class="px-3 mt-2 mr-2 bg-gray-300 text-black rounded-full" *ngFor="let kat of (kat$ | async)" [ngClass]="(status == kat.bezeichnung) ? 'bg-blue-600 text-white' : ''" (click)="toggleReparaturen(kat.bezeichnung)">{{ kat.bezeichnung }}</button>
            <button class="w-6 h-6 mt-2 mr-2 p-1 bg-gray-300 text-black rounded-full" (click)="reload()">
                <icons class="w-4 h-4 stroke-1 stroke-current" name="refresh"></icons>
            </button>
            <button class="w-6 h-6 mt-2 mr-2 p-1 bg-gray-300 text-black rounded-full" (click)="showfilter=!showfilter">
                <icons class="w-4 h-4 stroke-1 stroke-current" name="filter"></icons>
            </button>
        </div> -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-1 py-3">
            <div class="flex h-8 items-center">
                <button class="px-3 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filter == 'year') ? 'bg-blue-600 text-white' : ''" (click)="toggleFilter('year')">Jahr</button>
                <button class="px-3 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filter == 'month') ? 'bg-blue-600 text-white' : ''" (click)="toggleFilter('month')">Monat</button>
                <button class="px-3 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filter == 'week') ? 'bg-blue-600 text-white' : ''" (click)="toggleFilter('week')">Woche</button>
                <button class="px-3 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filter == 'today') ? 'bg-blue-600 text-white' : ''" (click)="toggleFilter('today')">Heute</button>
            </div>
            <div class="lg:justify-self-end">
                <form [formGroup]="filterForm">
                    <div class="flex flex-row items-center">
                        <div class="w-48 mr-2">
                            <mat-form-field appearance="fill">
                                <input matInput type="date" formControlName="startdate" value="{{filterForm.value.startdate | date:'yyyy-MM-dd'}}">
                            </mat-form-field>
                        </div>
                        <div class="w-48">
                            <mat-form-field appearance="fill">
                                <input matInput type="date" formControlName="enddate" value="{{filterForm.value.enddate | date:'yyyy-MM-dd'}}">
                            </mat-form-field>
                        </div>
                        <button class="p-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded" (click)="toggleFilter('')">
                            <icons class="w-4 h-4 stroke-2 stroke-current" name="search"></icons>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto px-4">
    <div class="flex flex-row mb-3">
        <icons class="w-6 h-6 stroke-2 stroke-current" name="table"></icons>
        <span class="ml-2 text-lg font-bold">Ergebnisse</span>
    </div>
    <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%">
        <thead>
            <tr>
                <th class="w-28">Name</th>
                <th hidden>ID</th>
                <th class="w-28">Datum</th>
                <th>Ort</th>
                <th>Kraftstoff</th>
                <th>Menge</th>
                <th class="w-12"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let betankung of (betankungen$ | async | toArray)">
                <td>{{ betankung.name }}</td>
                <td hidden>{{ betankung.id }}</td>
                <td>{{ betankung.date | date: 'dd.MM.yyyy' }}</td>
                <td>{{ betankung.ort }}</td>
                <td>{{ betankung.fuel }}</td>
                <td>{{ betankung.fuelfillingquantity }}</td>
                <td class="flex flex-row justify-start text-gray-500">
                    <button class="w-6 h-6" [matMenuTriggerFor]="editMenu">
                        <icons class="w-6 h-6 stroke-1 stroke-current cursor-pointer" name="dots-horizontal"></icons>
                    </button>
                    <mat-menu #editMenu="matMenu">
                        <button mat-menu-item (click)="showModal(betankung)" tooltip="Bearbeiten der ausgewählten Betankung" placement="top" [offset]="20">
                            Bearbeiten
                        </button>
                        <button mat-menu-item (click)="delete(betankung.id)">
                            Löschen
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="mt-5 p-2 flex items-center bg-gray-100 border border-gray-300 text-gray-600 transition duration-150 ease-in-out hover:bg-blue-600 hover:text-white rounded cursor-pointer" (click)="showModal()">
        <span class="h-6 w-6 mr-2">
            <icons class="w-6 h-6 stroke-1 stroke-current" name="add"></icons>
        </span>
        Betankung hinzufügen
    </button>
</div>
