<div class="left flex flex-col h-screen w-72 left-0 top-0 bottom-0 border-r bg-gray-100 z-50 select-none" [ngClass]="{'active': isActive}">
    <header class="flex flex-row justify-between items-center w-full h-12 p-3 border-b text-gray-500 mb-10">
        <div [ngClass]="{'hidden': !isActive }" class="relative flex flex-row w-full">
          <span class="text-lg uppercase tracking-widest">{{ title }}</span>
          <div class="absolute right-0 text-gray-500 cursor-pointer" (click)="toggle()">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
          </div>
        </div>
        <div class="block right-3 text-gray-500 cursor-pointer" (click)="toggle()">
          <svg class="h-6 w-6" [ngClass]="{'hidden': isActive }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
      </div>
    </header>
    <div class="recht flex items-center -mt-5 opacity-0">
      <span class="text-gray-500 text-xl uppercase tracking-widest">{{ title }}</span>
    </div>
    <div class="content">
      <ul>
        <li>
          <div class="flex flex-row justify-between ml-3 p-2 font-semibold hover:bg-gray-200 cursor-pointer dropdown" appDropdown>
            <a>Schiff</a>
            <a class="w-5 text-black grid place-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </a>
          </div>
          <ul>
            <!-- *appIsRoleOf="['administration']" -->
            <li [routerLink]="['map']" class="ml-3 p-2 pl-10 hover:bg-gray-200 cursor-pointer" *ngIf="!isService()">
              <a>
                Karte
              </a>
            </li>
            <!-- *appIsRoleOf="['administration']" -->
            <li [routerLink]="['streifen']" class="ml-3 p-2 pl-10 hover:bg-gray-200 cursor-pointer" *ngIf="!isService()">
              <a>
                Abgeschlossene Streifen
              </a>
            </li>
            <li [routerLink]="['zaehlerstaende']" class="ml-3 p-2 pl-10 hover:bg-gray-200 cursor-pointer" >
              <a>
                Zählerstände
              </a>
            </li>
            <li [routerLink]="['betankungen']" class="ml-3 p-2 pl-10 hover:bg-gray-200 cursor-pointer" >
              <a>
                Betankungen
              </a>
            </li>
          </ul>
        </li>
        <li [routerLink]="['service']" class="flex flex-row justify-between ml-3 p-2 hover:bg-gray-200 cursor-pointer">Service</li>
        <li class="flex flex-row justify-between ml-3 p-2 hover:bg-gray-200 cursor-pointer" *ngIf="isController()">Controlling</li>
        <li *ngIf="isAdmin()">
          <div class="flex flex-row justify-between ml-3 p-2 font-semibold hover:bg-gray-200 cursor-pointer dropdown" appDropdown>
            <a>Verwaltung von</a>
            <a class="w-5 text-black grid place-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </a>
          </div>
          <ul>
            <li class="ml-3 p-2 pl-10 hover:bg-gray-200 cursor-pointer">
              <a [routerLink]="['dienststellenverwaltung']">
                Dienststellen
              </a>
            </li>
            <li class="ml-3 p-2 pl-10 hover:bg-gray-200 cursor-pointer">
              <a [routerLink]="['pruefvermerkeverwaltung']">
                Prüfvermerke
              </a>
            </li>
            <li class="ml-3 p-2 pl-10 hover:bg-gray-200 cursor-pointer">
              <a [routerLink]="['katpruefvermerkeverwaltung']">
                Kategorien von Prüfvermerken
              </a>
            </li>
            <li class="ml-3 p-2 pl-10 hover:bg-gray-200 active:bg-gray-300 cursor-pointer">
              <a [routerLink]="['schiffeverwaltung']">
                Schiffe
              </a>
            </li>
          </ul>
        </li>
        <li class="flex flex-row justify-between ml-3 p-2 hover:bg-gray-200 cursor-pointer">Dokumentation</li>
      </ul>
    </div>
</div>