<app-modal #modalComponent>
    <header class="h-16 p-8 flex items-center justify-between border-b">
      <p tabindex="0" class="dark:text-gray-50 focus:outline-none text-2xl font-semibold leading-6 text-gray-800">
        Informationen zur App
      </p>
      <button (click)="cancel()"
        class="w-6 h-6 focus:outline-none rounded-md cursor-pointer">
        <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="x"></icons>
      </button>
    </header>
    <div class="content p-4">
        <!-- <markdown [src]="'assets/md/changelog.txt'"></markdown> -->
        <markdown src="'assets/md/changelog.md'"></markdown>
        <!-- <h2 class="text-xl mb-3">Kontakt</h2>
        <p>Dir ZS PG MIKT</p>
        <p>Platz der Luftbrücke 6,</p>
        <p>12101 Berlin</p>

        <h2 class="text-xl mb-3">Rollen und Rechte</h2>
        24225001 = User, <br>
        24225002 = Administration, <br>
        24225003 = Leitung, <br>
        24225004 = Controlling, <br>
        24225005 = Service <br>
        Kennwort: 'Abc123!'

        <h2 class="text-xl mb-3">Änderungen</h2>
        <h3 class="text-lg">1.0.0x003</h3>
        <ul>
            <li>- Controlling -> Auswertung</li>
            <li>- [Login] Markdown-Module zur einfachen Darstellung von Markdowns</li>
            <li>- [Übersicht] Verteilung von Schiffen nach Dienststelle (vorbereitung der Ansicht für den Zustand der Schiffe nach Dienststelle)</li>
        </ul>

        <h3 class="text-lg">1.0.0x002</h3>
        <ul>
            <li>- Logout -> Abmelden</li>
            <li>- [Navigation] - Überarbeitung der Kodierung des Benutzernamens</li>
            <li>- XMLHttp-Interceptor aufgenommen</li>
        </ul>

        <h3 class="text-lg">1.0.0x001</h3>
        <ul>
            <li>- Logout -> Abmelden</li>
            <li>- Umlaute - Test der Kodierung</li>
            <li>- XMLHttp-Interceptor aufgenommen</li>
        </ul> -->
    </div>
    <footer class="absolute h-16 px-8 right-0 bottom-0 left-0 flex items-center justify-between border-t">
      <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </footer>
</app-modal>

<ng-template #toolbar>
    <button (click)="cancel()" type="button" class="p-2 mr-3 bg-gray-800 text-white rounded">Abbrechen</button>
</ng-template>