<div class="container mx-auto p-4 mb-8">
    <button class="px-3 mt-2 mr-2 bg-gray-300 text-black rounded-full" [ngClass]="(wartung == 'motoren') ? 'bg-blue-600 text-white' : ''" (click)="toggle('motoren')">Motoren</button>
    <button class="px-3 mt-2 mr-2 bg-gray-300 text-black rounded-full" [ngClass]="(wartung == 'schiffe') ? 'bg-blue-600 text-white' : ''" (click)="toggle('schiffe')">Schiffe</button>
</div>

<app-wartung-motoren *ngIf="wartung == 'motoren'"></app-wartung-motoren>
<app-wartung-schiffe *ngIf="wartung == 'schiffe'"></app-wartung-schiffe>