<div class="container mx-auto px-4">
    <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%">
        <thead>
            <tr>
                <th>Schiff</th>
                <th hidden>ID</th>
                <th>Datum</th>
                <th>Status</th>
                <th class="w-12"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let checklist of (checklists$ | async | toArray)">
                <td>{{ checklist.name }}</td>
                <td hidden>{{ checklist.id_schiff }}</td>
                <td>{{ checklist.datum | date:"dd.MM.yyyy" }}</td>
                <td>{{ checklist.status }}</td>
                <td class="flex flex-row justify-start text-gray-500">
                    <button class="dropdown w-6 h-6" appDropdown>
                        <icons class="w-6 h-6 stroke-1 stroke-current cursor-pointer" name="dots-horizontal"></icons>
                    </button>
                    <div class="mt-6 bg-white shadow w-24 absolute z-30 right-0 mr-6 rounded">
                        <div class="text-xs w-full hover:bg-blue-600 p-4 cursor-pointer hover:text-white" (click)="showModal(checklist)">
                            <p>Bearbeiten</p>
                        </div>
                        <div class="text-xs w-full hover:bg-blue-600 p-4 cursor-pointer hover:text-white" (click)="delete(checklist)">
                            <p>Löschen</p>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="label" #label>Legende
        <app-info-button [appInfoPopup]="info" [label]="label"></app-info-button>
    </div>
    <ng-template #info>
        <app-info>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
            dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa,
            varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non
            fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim.
            Pellentesque congue.
        </app-info>
    </ng-template>
</div>