<div class="py-8">
    <button (click)="notificationBtn()" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 focus:outline-none py-2 px-10 rounded bg-indigo-600 hover:bg-indigo-700 text-white">Open Modal</button>
  </div>
  <div class="overlay" *ngIf="notification" @fadeIn @fadeOut>
    <div class="notificationbar" *ngIf="notification" @slideInRight @slideOutRight>
      <div class="2xl:w-4/12 bg-gray-50 h-screen overflow-y-auto p-8 absolute right-0">
        <div class="flex items-center justify-between">
          <p tabindex="0" class="focus:outline-none text-2xl font-semibold leading-6 text-gray-800">Benachrichtigungen</p>
          <button role="button" aria-label="close modal" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md cursor-pointer" (click)="notificationBtn()">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 6L6 18" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M6 6L18 18" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
  
        <div class="w-full p-3 mt-8 bg-white rounded flex">
          <div tabindex="0" aria-label="heart icon" role="img" class="focus:outline-none w-8 h-8 border rounded-full border-gray-200 flex items-center justify-center">
            <icons name="messages"></icons>
          </div>
          <div class="pl-3">
            <p tabindex="0" class="focus:outline-none text-sm leading-none"><span class="text-indigo-700">James Doe</span> favourited an <span class="text-indigo-700">item</span></p>
            <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">2 hours ago</p>
          </div>
        </div>
        <div class="w-full p-3 mt-4 bg-white rounded shadow flex flex-shrink-0">
          <div tabindex="0" aria-label="group icon" role="img" class="focus:outline-none w-8 h-8 border rounded-full border-gray-200 flex flex-shrink-0 items-center justify-center">
            <icons name="messages"></icons>
          </div>
          <div class="pl-3 w-full">
            <div class="flex items-center justify-between w-full">
              <p tabindex="0" class="focus:outline-none text-sm leading-none"><span class="text-indigo-700">Sash</span> added you to the group: <span class="text-indigo-700">UX Designers</span></p>
              <div tabindex="0" aria-label="close icon" role="button" class="focus:outline-none cursor-pointer">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.5 3.5L3.5 10.5" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M3.5 3.5L10.5 10.5" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
            </div>
            <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">2 hours ago</p>
          </div>
        </div>
        <div class="w-full p-3 mt-4 bg-white rounded flex">
          <div tabindex="0" aria-label="post icon" role="img" class="focus:outline-none w-8 h-8 border rounded-full border-gray-200 flex items-center justify-center">
            <icons name="messages"></icons>
          </div>
          <div class="pl-3">
            <p tabindex="0" class="focus:outline-none text-sm leading-none"><span class="text-indigo-700">Sarah</span> posted in the thread: <span class="text-indigo-700">Update gone wrong</span></p>
            <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">2 hours ago</p>
          </div>
        </div>
        <div class="w-full p-3 mt-4 bg-red-100 rounded flex items-center">
          <div tabindex="0" aria-label="storage icon" role="img" class="focus:outline-none w-8 h-8 border rounded-full border-red-200 flex items-center flex-shrink-0 justify-center">
            <icons name="messages"></icons>
          </div>
          <div class="pl-3 w-full flex items-center justify-between">
            <p tabindex="0" class="focus:outline-none text-sm leading-none text-red-700">Low on storage: 2.5/32gb remaining</p>
            <p tabindex="0" class="focus:outline-none text-xs leading-3 cursor-pointer underline text-right text-red-700">Manage</p>
          </div>
        </div>
        <div class="w-full p-3 mt-4 bg-white rounded flex">
          <div tabindex="0" aria-label="loading icon" role="img" class="focus:outline-none w-8 h-8 border rounded-full border-gray-200 flex items-center justify-center">
            <icons name="messages"></icons>
          </div>
          <div class="pl-3">
            <p tabindex="0" class="focus:outline-none text-sm leading-none">Shipmet delayed for order<span class="text-indigo-700"> #25551</span></p>
            <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">2 hours ago</p>
          </div>
        </div>
        
        <div class="flex items-center justiyf-between">
          <hr class="w-full" />
          <p tabindex="0" class="focus:outline-none text-sm flex flex-shrink-0 leading-normal px-3 py-16 text-gray-500">Keine weiteren Benachrichtigungen</p>
          <hr class="w-full" />
        </div>
      </div>
    </div>
  </div>