<div class="flex flex-row justify-between items-center h-16 mb-4 px-3 text-gray-800 shadow-lg">
  <a class="rotate-180 cursor-pointer" (click)="logout()">
    <icons class="w-8 h-8" name="logout"></icons>
  </a>
  <span class="text-2xl text-gray-800">Bootsauswahl</span>
  <div class="flex flex-row">
    <a class="cursor-pointer" (click)="showModal()">
      <icons class="w-8 h-8" name="qrcode"></icons>
    </a>
    <a class="cursor-pointer" *ngIf="bordbuchForm.value" [routerLink]="['/mobile', 'boot', '1']">
      <icons class="w-8 h-8" name="chevron-right"></icons>
    </a>
  </div>
</div>

<div class="content">
  <div class="w-full bg-white rounded-lg shadow-md">
    <div class="p-4 border-b">
      <h2 class="text-2xl ">Auswahl des Bordbuches</h2>
      <p class="text-sm text-gray-500">
        Bitte wählen Sie hier das Bordbuch aus. Scannen Sie dafür den vorgesehenen QR-Code oder treffen Sie in der Liste
        eine
        Auswahl.
      </p>
    </div>
    <div>
      <form [formGroup]="bordbuchForm">
        <div class="hover:bg-gray-50 space-y-1 p-4 border-b">
          <div class="relative my-5">
            <ng-select [dropdownPosition]="'bottom'" [items]="allShips$ | async" bindLabel="name" bindValue="id"
              groupBy="dienststelle" formControlName="bordbuch" required></ng-select>
            <span class="bar"></span>
            <label class="text-black">Bordbuch</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
