<div class="container mx-auto flex flex-row items-center p-4" >
    <div class="w-full bg-gray-100 p-4 rounded">
        <div class="flex flex-row items-center mb-4">
            <button class="px-3 mt-2 mr-2 bg-gray-300 text-black rounded-full" [ngClass]="(status == 'alle') ? 'bg-blue-600 text-white' : ''" (click)="toggleReparaturen('alle')">Alle</button>
            <button class="px-3 mt-2 mr-2 bg-gray-300 text-black rounded-full" *ngFor="let kat of (kat$ | async)" [ngClass]="(status == kat.bezeichnung) ? 'bg-blue-600 text-white' : ''" (click)="toggleReparaturen(kat.bezeichnung)">{{ kat.bezeichnung }}</button>
            <button class="w-6 h-6 mt-2 mr-2 p-1 bg-gray-300 text-black rounded-full" (click)="reload()">
                <icons class="w-4 h-4 stroke-1 stroke-current" name="refresh"></icons>
            </button>
            <button class="w-6 h-6 mt-2 mr-2 p-1 bg-gray-300 text-black rounded-full" (click)="showfilter=!showfilter">
                <icons class="w-4 h-4 stroke-1 stroke-current" name="filter"></icons>
            </button>
        </div>
        <div *ngIf="showfilter">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row">
                    <icons class="w-6 h-6 stroke-1 stroke-current" name="filter"></icons>
                    <span class="ml-2 font-bold">Filter</span>
                </div>
                <button class="hover:text-gray-400 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-row mt-3 justify-between">
                <div class="mt-3">
                    <button class="px-3 mt-2 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filter == 'year') ? 'bg-gray-300' : ''" (click)="toggleFilter('year')">Jahr</button>
                    <button class="px-3 mt-2 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filter == 'month') ? 'bg-gray-300' : ''" (click)="toggleFilter('month')">Monat</button>
                    <button class="px-3 mt-2 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filter == 'week') ? 'bg-gray-300' : ''" (click)="toggleFilter('week')">Woche</button>
                    <button class="px-3 mt-2 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filter == 'today') ? 'bg-gray-300' : ''" (click)="toggleFilter('today')">Heute</button>
                </div>
                <div>
                    <form [formGroup]="filterForm">
                        <div class="grid grid-cols-2 gap-3">
                            <div class="flex flex-row items-center">
                                <mat-form-field appearance="fill">
                                    <input matInput type="datetime-local" formControlName="startdate" value="{{filterForm.value.startdate | date:'yyyy-MM-ddTHH:mm'}}">
                                </mat-form-field>
                            </div>
                            <div class="flex flex-row items-center">
                                <mat-form-field appearance="fill">
                                    <input matInput type="datetime-local" formControlName="enddate" value="{{filterForm.value.enddate | date:'yyyy-MM-ddTHH:mm'}}">
                                </mat-form-field>
                                <button class="w-6 h-6 mx-3 focus:outline-none rounded-md cursor-pointer" (click)="setEndDate()">
                                    <icons class="w-6 h-6 stroke-1 stroke-current text-black" name="calendar-event"></icons>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto mt-4 px-4">
    <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th hidden>id</th>
                <th hidden>id_ship</th>
                <th>Datum</th>
                <th>Kategorie</th>
                <th>Bestandteil</th>
                <th class="w-12"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reparatur of (reparaturen$ | async | toArray)">
                <td>{{ reparatur.name }}</td>
                <td hidden>{{ reparatur.id }}</td>
                <td hidden>{{ reparatur.id_ship }}</td>
                <td>{{ reparatur.date | date: 'dd.MM.yyyy' }}</td>
                <td>{{ reparatur.kategorie }}</td>
                <td>{{ reparatur.item }}</td>
                <td class="flex flex-row justify-start text-gray-500">
                    <button class="w-6 h-6" [matMenuTriggerFor]="editMenu">
                        <icons class="w-6 h-6 stroke-1 stroke-current cursor-pointer" name="dots-horizontal"></icons>
                    </button>
                    <mat-menu #editMenu="matMenu">
                        <button mat-menu-item (click)="showModal(reparatur)">
                            Bearbeiten
                        </button>
                        <button mat-menu-item (click)="delete(reparatur.id)">
                            Löschen
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="mt-5 p-2 flex items-center bg-gray-100 border border-gray-300 text-gray-600 transition duration-150 ease-in-out hover:bg-blue-600 hover:text-white rounded cursor-pointer" (click)="showModal()">
        <span class="h-6 w-6 mr-2">
            <icons class="w-6 h-6 stroke-1 stroke-current" name="add"></icons>
        </span>
        Reparaturauftrag aufnehmen
    </button>
</div>