<div class="container mx-auto flex flex-row items-center p-4 mb-8">
    <button class="px-3 mt-2 mr-2 bg-gray-300 text-black rounded-full" [ngClass]="(status == 'alle') ? 'bg-blue-600 text-white' : ''" (click)="toggleReparaturen('alle')">Alle</button>
    <button class="px-3 mt-2 mr-2 bg-gray-300 text-black rounded-full" *ngFor="let kat of (kat$ | async)" [ngClass]="(status == kat.bezeichnung) ? 'bg-blue-600 text-white' : ''" (click)="toggleReparaturen(kat.bezeichnung)">{{ kat.bezeichnung }}</button>
    <button class="w-6 h-6 mt-2 mr-2 p-1 bg-gray-300 text-black rounded-full" (click)="reload()">
        <icons class="w-4 h-4 stroke-1 stroke-current" name="refresh"></icons>
    </button>
</div>

<div class="container mx-auto flex flex-row items-center p-4 mb-8">
    <div class="w-full bg-gray-100 p-4">Test</div>
</div>

<div class="container mx-auto px-4">
    <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th hidden>id</th>
                <th hidden>id_ship</th>
                <th>Datum</th>
                <th>Kategorie</th>
                <th>Bestandteil</th>
                <th class="w-12"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reparatur of (reparaturen$ | async | toArray)">
                <td>{{ reparatur.name }}</td>
                <td hidden>{{ reparatur.id }}</td>
                <td hidden>{{ reparatur.id_ship }}</td>
                <td>{{ reparatur.date | date: 'dd.MM.yyyy' }}</td>
                <td>{{ reparatur.kategorie }}</td>
                <td>{{ reparatur.item }}</td>
                <td class="flex flex-row justify-start text-gray-500">
                    <button class="w-6 h-6" [matMenuTriggerFor]="editMenu">
                        <icons class="w-6 h-6 stroke-1 stroke-current cursor-pointer" name="dots-horizontal"></icons>
                    </button>
                    <mat-menu #editMenu="matMenu">
                        <button mat-menu-item (click)="showModal(reparatur)">
                            Bearbeiten
                        </button>
                        <button mat-menu-item (click)="delete(reparatur.id)">
                            Löschen
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="mt-5 p-2 flex items-center bg-gray-100 border border-gray-300 text-gray-600 transition duration-150 ease-in-out hover:bg-blue-600 hover:text-white rounded cursor-pointer" (click)="showModal()">
        <span class="h-6 w-6 mr-2">
            <icons class="w-6 h-6 stroke-1 stroke-current" name="add"></icons>
        </span>
        Reparaturauftrag aufnehmen
    </button>
</div>