<div class="container mx-auto p-4 mb-8">
    <button class="px-3 mt-2 mr-2 bg-gray-300 text-black rounded-full" *ngFor="let kat of (kat$ | async)" [ngClass]="(status == kat.bezeichnung) ? 'bg-blue-600 text-white' : ''" (click)="toggleReparaturen(kat.bezeichnung)">{{ kat.bezeichnung }}</button>
</div>

<div class="container mx-auto px-4">
    <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%">
        <thead>
            <tr>
                <!-- <th class="w-28">Name</th> -->
                <th hidden>id</th>
                <th>id_ship</th>
                <th>Datum</th>
                <th>Kategorie</th>
                <th>Bestandteil</th>
                <th class="w-12"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reparatur of (reparaturen$ | async)">
                <!-- <td>{{ reparatur.name }}</td> -->
                <td hidden>{{ reparatur.id }}</td>
                <td>{{ reparatur.id_ship }}</td>
                <td>{{ reparatur.date | date: 'dd.MM.yyyy' }}</td>
                <td>{{ reparatur.kategorie }}</td>
                <td>{{ reparatur.item }}</td>
                <td class="flex flex-row justify-start text-gray-500">
                    <button class="dropdown w-6 h-6" appDropdown>
                        <icons class="w-6 h-6 stroke-1 stroke-current cursor-pointer" name="dots-horizontal"></icons>
                    </button>
                    <div class="mt-6 bg-white shadow w-24 absolute z-30 right-0 mr-6 rounded">
                        <div class="text-xs w-full hover:bg-blue-600 p-4 cursor-pointer hover:text-white" (click)="showModal(reparatur)">
                            <p>Bearbeiten</p>
                        </div>
                        <div class="text-xs w-full hover:bg-blue-600 p-4 cursor-pointer hover:text-white" (click)="delete(reparatur.id)">
                            <p>Löschen</p>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="mt-5 p-2 flex items-center bg-gray-100 border border-gray-300 text-gray-600 transition duration-150 ease-in-out hover:bg-blue-600 hover:text-white rounded cursor-pointer" (click)="showModal()">
        <span class="h-6 w-6 mr-2">
            <icons class="w-6 h-6 stroke-1 stroke-current" name="add"></icons>
        </span>
        Reparaturauftrag aufnehmen
    </button>
</div>