<page-header></page-header>
<div class="absolute top-20 right-0 bottom-0 left-0">
    <div class="container mx-auto mt-4 px-4">
        <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%">
            <thead>
                <tr>
                    <th>Schiff</th>
                    <th hidden>ID</th>
                    <th>Beginn</th>
                    <th>Ende</th>
                    <th>Status</th>
                    <th class="w-12"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let instandsetzung of (instandsetzungen$ | async | toArray)">
                    <td>{{ instandsetzung.name }}</td>
                    <td hidden>{{ instandsetzung.id_schiff }}</td>
                    <td>{{ instandsetzung.beginn | date:"dd.MM.yyyy HH:mm" }}</td>
                    <td>{{ instandsetzung.ende | date:"dd.MM.yyyy HH:mm" }}</td>
                    <td>{{ instandsetzung.klar ? 'Fahrbereit' : 'Instandsetzung' }}</td>
                    <td class="flex flex-row justify-start text-gray-500">
                        <button class="w-6 h-6" [matMenuTriggerFor]="editMenu">
                            <icons class="w-6 h-6 stroke-1 stroke-current cursor-pointer" name="dots-horizontal"></icons>
                        </button>
                        <mat-menu #editMenu="matMenu">
                            <button mat-menu-item (click)="showModal(instandsetzung)">
                                Bearbeiten
                            </button>
                            <button mat-menu-item (click)="delete(instandsetzung)">
                                Löschen
                            </button>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="mt-5 p-2 flex items-center bg-gray-100 border border-gray-300 text-gray-600 transition duration-150 ease-in-out hover:bg-blue-600 hover:text-white rounded cursor-pointer" (click)="showModal()">
            <span class="h-6 w-6 mr-2">
                <icons class="w-6 h-6 stroke-1 stroke-current" name="add"></icons>
            </span>
            Instandsetzung hinzufügen
        </button>
    </div>
</div>