<app-modal #modalComponent>
    <header class="h-16 p-8 flex items-center justify-between border-b">
      <p tabindex="0" class="dark:text-gray-50 focus:outline-none text-2xl font-semibold leading-6 text-gray-800">
        {{ title }}
      </p>
      <button (click)="cancel()" class="w-6 h-6 focus:outline-none rounded-md cursor-pointer">
        <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="x"></icons>
      </button>
    </header>
    <div class="content">
        <form [formGroup]="schiffForm">
            <div class="hidden">
              <mat-form-field appearance="fill">
                <mat-label>id</mat-label>
                <input matInput type="text" formControlName="id" readonly>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>id_dienststelle</mat-label>
                <input matInput type="text" formControlName="id_dienststelle">
              </mat-form-field>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">
              </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Marke</mat-label>
              <input matInput type="text" formControlName="marke">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Typ</mat-label>
                <input matInput type="text" formControlName="typ">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Identifikationsnummer</mat-label>
                <input matInput type="text" formControlName="identifikationsnummer">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Dienststelle</mat-label>
              <mat-select formControlName="dienststelle" (selectionChange)="selectDienststelle($event.value)">
                <mat-option *ngFor="let dienststelle of (dienststellen$ | async | toArray)" [value]="dienststelle.bezeichnung">
                  {{ dienststelle.bezeichnung }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Durchsicht (Betriebsstunden)</mat-label>
              <input matInput type="text" formControlName="durchsicht" value="{{schiffForm.value.durchsicht}}">
            </mat-form-field>
            <!-- <div class="flex flex-row items-center">
              <mat-form-field appearance="fill">
                  <mat-label>Durchsicht</mat-label>
                  <input matInput type="datetime-local" formControlName="durchsicht" value="{{schiffForm.value.durchsicht | date:'yyyy-MM-ddTHH:mm':'+1:00'}}">
              </mat-form-field>
              <button class="w-6 h-6 mx-3 focus:outline-none rounded-md cursor-pointer" (click)="setDate()">
                  <icons class="w-6 h-6 stroke-1 stroke-current text-black" name="calendar-event"></icons>
              </button>
            </div> -->
          </form>
    </div>
    <footer class="absolute h-16 px-8 right-0 bottom-0 left-0 flex items-center justify-between border-t">
      <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </footer>
  </app-modal>
  
  <ng-template #toolbar>
    <div>
      <button (click)="cancel()" type="button" class="p-2 mr-3 bg-gray-800 text-white rounded">Abbrechen</button>
      <button *ngIf="schiffForm.value.id" (click)="delete()" type="button" class="p-2 mr-3 bg-red-400 text-black rounded">Löschen</button>
    </div>
    <div>
      <button *ngIf="!schiffForm.pristine && schiffForm.value.id" (click)="update()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Speichern</button>
      <button *ngIf="!schiffForm.value.id" (click)="create()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Erstellen</button>
    </div>
  </ng-template>
  