<app-modal #modalComponent>
    <header class="h-16 p-8 flex items-center justify-between border-b">
        <p tabindex="0" class="dark:text-gray-50 focus:outline-none text-2xl font-semibold leading-6 text-gray-800">
          Boot scannen
        </p>
        <button (click)="cancel()"
          class="w-6 h-6 focus:outline-none rounded-md cursor-pointer">
          <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="x"></icons>
        </button>
      </header>
    <div class="content">
        <!-- <qr-scanner class="mt-5" 
        [debug]="false"
        [canvasWidth]="1080" 
        [canvasHeight]="720"
        [stopAfterScan]="true" 
        [updateTime]="500"></qr-scanner> -->
        <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    </div>
    <footer class="absolute h-16 px-8 right-0 bottom-0 left-0 flex items-center justify-between border-t">
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </footer>
</app-modal>

<ng-template #toolbar>
    <div class="py-3 flex justify-between">
        <div>
            <button (click)="cancel()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Abbrechen</button>
        </div>
    </div>
</ng-template>
