@import 'tailwindcss/base'
@import 'tailwindcss/components'
@import 'tailwindcss/utilities'
/* You can add global styles to this file, and also import other style files */

@import "~leaflet/dist/leaflet.css"

:root
    --primary: #151728
    --secondary: #1e2031
    --tertiary: #272a3a
    --text-main: #eaeaea
    --text-secondary: #b8b8b9
    --accent: #1b86f8
    /* #1b86f8 */
    /* #DE1738 */

* 
    outline: none
    box-sizing: border-box
    margin: 0
    padding: 0
    // border: 1px solid red

// jquery.dataTables.css
// .dataTables_wrapper .dataTables_length select
//   border: 1px solid #aaa
//   border-radius: 3px
//   padding: 5px
//   background-color: transparent
//   padding: 4px
//   width: 60px
