<div class="w-full mt-4 mb-3 bg-white rounded-lg shadow-lg">
    <div class="flex flex-row p-4 justify-between border-b">
      <div>
        <h2 class="text-2xl font-bold">Wartung</h2>
        <p class="text-sm text-gray-500">
          Anzeige der Betriebstunden und Tage bis zur nächsten Durchsicht bei der Bootswerkstatt.
        </p>
      </div>
    </div>
    <div class="p-4 border-b hover:bg-gray-50" *ngFor="let zaehlerstand of (zaehlerstaende$ | async)">
      <h2 class="mb-2 text-xl">{{ zaehlerstand.zaehlerstandstyp }}</h2>
      <div class="my-2 flex flex-wrap overflow-hidden">
        <p class="my-1 px-1 w-2/3 overflow-hidden text-gray-600">Betriebsstunden: </p>
        <p class="my-1 px-1 w-1/3 overflow-hidden">{{ zaehlerstand.value }}</p>
        <p class="my-1 px-1 w-2/3 overflow-hidden text-gray-600">Durchsicht in: </p>
        <p class="my-1 px-1 w-1/3 overflow-hidden">{{ zaehlerstand.betriebsstunden - zaehlerstand.value }} Stunden</p>
      </div>
      <progress-bar [value]="zaehlerstand.value" [maxvalue]="zaehlerstand.betriebsstunden"></progress-bar>
    </div>
  </div>