<div class="relative container h-16 px-6 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between z-10">
    <div>
        <p class="flex items-center text-gray-500 text-xs">
            <span>
              Streifen > Ausgewählte Streife
            </span>
        </p>
        <h4 class="text-2xl font-bold leading-tight text-gray-800">Ausgewählte Streife</h4>
    </div>
</div>
<div class="absolute top-20 right-0 bottom-0 left-0">
    <div class="container mx-auto p-4">
        <div class="flex flex-row py-3">
            <icons class="w-6 h-6 stroke-2 stroke-current" name="filter"></icons>
            <span class="ml-2 text-lg font-bold">Filter</span>
        </div>
        <div class="h-8 flex items-center">
            <button class="px-3 mr-2 bg-gray-300 text-black rounded-full" [ngClass]="(filterStreife == 'alle') ? 'bg-blue-600 text-white' : ''" (click)="toggle('alle')">Alle</button>
            <button class="px-3 mr-2 bg-gray-300 text-black rounded-full" *ngFor="let status of status$" [ngClass]="(filterStreife == status) ? 'bg-blue-600 text-white' : ''" (click)="toggle(status)">{{ status }}</button>
            <button class="w-8 h-8 p-1 mr-2 bg-gray-300 text-black rounded-full" (click)="reload()">
                <icons class="w-6 h-6 stroke-1 stroke-current" name="refresh"></icons>
            </button>
            <button class="w-8 h-8 p-1 mr-2 bg-gray-300 text-black rounded-full" (click)="showfilter=!showfilter">
                <icons class="w-6 h-6 stroke-1 stroke-current" name="filter"></icons>
            </button>
        </div>

        <div *ngIf="showfilter">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 py-3 border-b">
                <div class="h-8 flex items-center">
                    <button class="px-3 mt-2 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filterZeit == 'year') ? 'bg-blue-600 text-white' : ''" (click)="toggleFilter('year')">Jahr</button>
                    <button class="px-3 mt-2 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filterZeit == 'month') ? 'bg-blue-600 text-white' : ''" (click)="toggleFilter('month')">Monat</button>
                    <button class="px-3 mt-2 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filterZeit == 'week') ? 'bg-blue-600 text-white' : ''" (click)="toggleFilter('week')">Woche</button>
                    <button class="px-3 mt-2 mr-2 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded-full" [ngClass]="(filterZeit == 'today') ? 'bg-blue-600 text-white' : ''" (click)="toggleFilter('today')">Heute</button>
                </div>
                <div class="lg:justify-self-end">
                    <form [formGroup]="filterForm">
                        <div class="h-8 flex flex-row items-center">
                            <div class="w-48 mr-2">
                                <mat-form-field appearance="fill">
                                    <input matInput type="date" formControlName="startdate" value="{{filterForm.value.startdate | date:'yyyy-MM-dd'}}">
                                </mat-form-field>
                            </div>
                            <div class="w-48">
                                <mat-form-field appearance="fill">
                                    <input matInput type="date" formControlName="enddate" value="{{filterForm.value.enddate | date:'yyyy-MM-dd'}}">
                                </mat-form-field>
                            </div>
                            <button (click)="toggleFilter('')" class="w-8 h-8 p-1 bg-gray-200 text-black hover:bg-gray-300 hover:text-gray-500 hover:shadow-inner shadow rounded cursor-pointer" [ngClass]="(filterZeit == '') ? 'bg-blue-600 text-white' : ''">
                                <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="search"></icons>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto mt-4 px-4">
        <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th hidden>ID</th>
                    <th hidden>ID-Schiff</th>
                    <th>Name</th>
                    <th>Kennung</th>
                    <th>Zweck</th>
                    <th>Status</th>
                    <th class="w-12"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let streife of (streifen$ | async | toArray)">
                    <td>{{ streife.start | date: 'dd.MM.yyyy' }}</td>
                    <td hidden>{{ streife.id }}</td>
                    <td hidden>{{ streife.id_schiff }}</td>
                    <td>{{ streife.schiffsname }}</td>
                    <td>{{ streife.kennung }}</td>
                    <td>{{ streife.zweck }}</td>
                    <td>{{ streife.status }}</td>
                    <td class="flex flex-row justify-start text-gray-500">
                        <button class="w-6 h-6" [matMenuTriggerFor]="editMenu">
                            <icons class="w-6 h-6 stroke-1 stroke-current cursor-pointer" name="dots-horizontal"></icons>
                        </button>
                        <mat-menu #editMenu="matMenu">
                            <button mat-menu-item [routerLink]="['/streifen', streife.id]">
                                Positionen
                            </button>
                            <button mat-menu-item (click)="showModal(streife)">
                                Bearbeiten
                            </button>
                            <button mat-menu-item (click)="delete(streife.id)">
                                Löschen
                            </button>
                        </mat-menu>
                        <!-- <button class="dropdown w-6 h-6" [routerLink]="['/streifen', streife.id]">
                            <icons class="w-6 h-6 stroke-1 stroke-current cursor-pointer" name="location-marker"></icons>
                        </button>
                        <button class="dropdown w-6 h-6" appDropdown>
                            <icons class="w-6 h-6 stroke-1 stroke-current cursor-pointer" name="dots-horizontal"></icons>
                        </button>
                        <div class="mt-6 bg-white shadow w-24 absolute z-30 right-0 mr-6 rounded">
                            <div class="text-xs w-full hover:bg-blue-600 p-4 cursor-pointer hover:text-white" (click)="showModal(streife)">
                                <p>Bearbeiten</p>
                            </div>
                            <div class="text-xs w-full hover:bg-blue-600 p-4 cursor-pointer hover:text-white" (click)="delete(streife.id)">
                                <p>Löschen</p>
                            </div>
                        </div> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
