<?xml version='1.0' encoding='utf-8'?>
<widget id="de.berlin.polizei.polwsp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bordbuch</name>
    <description>
        App zur Führung von Bordbuch-Einträgen.
    </description>
    <author email="zs-ikt-pgmikt@polizei.berlin.de" href="http://cordova.io">
        Dir ZS IKT PG MIKT
    </author>>
    <content src="index.html" />
    <access origin='*' allows-arbitrary-loads-for-media='true' allows-arbitrary-loads-in-web-content='true' allows-local-networking='true' />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="www/assets/img/favicon192.png"/>
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="24" />
		<preference name="android-targetSdkVersion" value="28" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="AndroidPersistentFileLocation" value="Internal" /><!--Compatibility-->
        <!-- <preference name="AndroidExtraFilesystems" value="files, cache, sdcard, cache-external, files-external" /> -->
        <!-- <config-file target="AndroidManifest.xml" parent="/*" mode="merge">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file> -->
    </platform>
</widget>
