<section class="fixed z-40 inset-0 overflow-hidden">
  <!-- overlay -->
  <div *ngIf="display" class="min-h-screen bg-gray-800 bg-opacity-90" @fadeIn @fadeOut (click)="close()">

  </div>
  <div *ngIf="display" (click)="$event.stopPropagation()" @slideInRight @slideOutRight
    class="absolute w-full lg:max-w-lg md:max-w-md p-8 top-0 bottom-0 right-0 bg-gray-100 dark:bg-gray-800 dark:text-gray-50 text-left overflow-hidden shadow-xl sm:align-middle">
    <ng-content></ng-content>
  </div>
</section>
