<div class="absolute w-full p-5 flex justify-between items-center bg-gray-200 bg-opacity-75 shadow-lg z-40">
  <div aria-label="toggler" class="flex justify-center items-center">
    <button id="open" [ngClass]="'text-gray-800 ' + (status ? 'hidden' : 'block')" aria-label="open" (click)="sidebarHandler()" class="w-8 h-8 focus:outline-none ">
      <icons class="w-8 h-8 stroke-1 stroke-current" name="menu"></icons>
    </button>
    <button *ngIf="status === true" aria-label="close" (click)="status = !status" class="w-8 h-8 focus:outline-none ">
      <icons class="w-8 h-8 stroke-1 stroke-current" name="menu-off"></icons>
    </button>
  </div>
  <div>
    <h2 class="text-base">{{ name$ | async }}</h2>
  </div>
  <div class="flex justify-between items-center space-x-3">
    <icons class="h-8" name="bordbuch-boot"></icons>
  </div>
</div>
<div class="sidebar z-50" *ngIf="status" @slideInLeft @slideOutLeft>
  <div class="mt-5 flex flex-col justify-start items-center  px-4 w-full space-y-3 pb-5 ">
    <button class="w-8 h-8 block focus:outline-none" (click)="sidebarHandler()">
      <icons class="w-8 h-8 stroke-1 stroke-current" name="menu-off"></icons>
    </button>
    <button class="btn" [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" (click)="auswahl()">
      <icons class="w-8 h-8 stroke-1 stroke-current" name="refresh"></icons>
      <p class="text-base leading-4">Bordbuch-Auswahl</p>
    </button>
    <button class="btn" *ngIf="id$ | async" [routerLink]="['/boot', (id$ | async)]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" (click)="boot()">
      <icons class="w-8 h-8 stroke-1 stroke-current" name="ship"></icons>
      <p class="text-base leading-4">Streife</p>
    </button>
    <button class="btn" *ngIf="id$ | async" [routerLink]="['/boot', (id$ | async), 'map']" routerLinkActive="active-link" (click)="boot()">
      <icons class="w-8 h-8 stroke-1 stroke-current" name="map"></icons>
      <p class="text-base leading-4">Map</p>
    </button>
    <button class="btn" *ngIf="id$ | async" [routerLink]="['/boot', (id$ | async), 'positions']" routerLinkActive="active-link" (click)="boot()">
      <icons class="w-8 h-8 stroke-1 stroke-current" name="location-marker"></icons>
      <p class="text-base leading-4">Positionen</p>
    </button>
  </div>
  <div class="flex flex-col justify-between items-center h-full space-y-80 w-full">
    <div class="space-y-3 flex pt-8 border-gray-200 border-t justify-start pb-6 px-4 pl-4 flex-col items-center w-full">
      <button class="btn" (click)="logout()">
        <icons class="w-8 h-8 stroke-1 stroke-current" name="logout"></icons>
        <p class="text-base leading-4">Logout</p>
      </button>
    </div>
  </div>
</div>