<h1 class="text-6xl">CDK-Stepper</h1>

<h3 class="text-4xl">Simple Stepper</h3>
<simple-stepper>
  <cdk-step>
    <p>This is any content of "Step 1"</p>
  </cdk-step>
  <cdk-step>
    <p>This is any content of "Step 2"</p>
  </cdk-step>
  <cdk-step>
    <p>This is any content of "Step 2.1"</p>
  </cdk-step>
</simple-stepper>

<hr>

<h3 class="text-4xl">Custom-Stepper with Progress-Circle</h3>

<custom-stepper>
  <cdk-step>
    <p>This is any content of "Step 1"</p>
  </cdk-step>
  <cdk-step>
    <p>This is any content of "Step 2"</p>
  </cdk-step>
  <cdk-step>
    <p>This is any content of "Step 3"</p>
  </cdk-step>
  <cdk-step>
    <p>This is any content of "Step 4"</p>
  </cdk-step>
</custom-stepper>

<hr>

<h3 class="text-4xl">Custom-Stepper with Progress-Circle and Headline</h3>
<custom-stepper-headline [linear]="isLinear">
  <cdk-step [editable]="isEditable">
    <ng-template cdkStepLabel>
      <div class="ml-5">
        <h4 class="text-2xl text-blue-600">Personal Details</h4>
        <p class="text-lg text-gray-600">Next: Practical Details</p>
      </div>
      
    </ng-template>
    <p>This is any content of "Step 1"</p>
  </cdk-step>
  <cdk-step>
    <ng-template cdkStepLabel>
      <div class="ml-5">
        <h4 class="text-2xl text-blue-600">Practical Details</h4>
        <p class="text-lg text-gray-600">Next: <button type="submit" class="cursor-pointer" cdkStepperNext>Theroetical Details</button></p>
      </div>
    </ng-template>
    <p>This is any content of "<a>Step 2</a>"</p>
  </cdk-step>
  <cdk-step>
    <!-- <ng-template cdkStepLabel>
      <span>Theroetical Details</span>
    </ng-template> -->
    <p>This is any content of "Step 3"</p>
  </cdk-step>
</custom-stepper-headline>