<h3 class="text-xl mb-3">Betankungen</h3>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
            <th class="w-28">Schiffsbezeichnung</th>
            <th class="w-4"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lastPosition of lastPositions | async">
            <td>{{ lastPosition.name }}</td>
            <td class="flex flex-row justify-end text-gray-500">
                <a class="tooltip ml-3 cursor-pointer" (click)="centerOnShipPosition(lastPosition.location)">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>                
                </a>
                <a [routerLink]="['../shippositionlog', lastPosition.id_ship]" class="tooltip ml-3 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                    </svg>
                </a>
            </td>
        </tr>
    </tbody>
</table>