<div class="flex justify-end">
    <div class="flex flex-col">
        <div class="flex flex-row justify-end">
            <h3 class="whitespace-nowrap" [ngClass]="value == 'in Vorbereitung' ? '' : 'text-gray-400'">in Vorbereitung</h3>
            <span class="h-4 w-4 m-1 rounded-full" [ngClass]="value == 'in Vorbereitung' ? 'bg-blue-500' : 'bg-gray-300'"></span>
        </div>
        <div class="flex flex-row justify-end">
            <h3 [ngClass]="value == 'aktiv' ? '' : 'text-gray-400'">aktiv</h3>
            <span class="h-4 w-4 m-1 rounded-full" [ngClass]="value == 'aktiv' ? 'bg-blue-500' : 'bg-gray-300'"></span>
        </div>
        <div class="flex flex-row justify-end">
            <h3 [ngClass]="value == 'beendet' ? '' : 'text-gray-400'">beendet</h3>
            <span class="h-4 w-4 m-1 rounded-full" [ngClass]="value == 'beendet' ? 'bg-blue-500' : 'bg-gray-300'"></span>
        </div>
    </div>
</div>