<div class="w-full mt-4 bg-white rounded-lg shadow-lg">
  <div class="flex flex-row p-4 justify-between border-b">
    <div>
      <h2 class="text-2xl font-bold">Kontrolle</h2>
      <p class="text-sm text-gray-500">
        An dieser Stelle werden offene oder unzureichend hinterlegte Eingaben angezeigt. Diese müssen zum Start und zur Beendigung der Streife bestätigt werden.
      </p>
    </div>
  </div>
  <div class="p-4 border-b hover:bg-gray-50">
    <form [formGroup]="kontrollForm">
      <div class="hidden">
        <mat-form-field appearance="fill">
          <mat-label>id</mat-label>
          <input matInput type="text" formControlName="id">
        </mat-form-field>
      </div>
      <!-- <div class="flex flex-row items-center">
        <input type="checkbox" formControlName="kontrolle" class="mx-4 cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 outline-none" />
        <mat-label>Kontrolle aller Eingaben durchgeführt</mat-label>
      </div> -->
    </form>
    <!-- <app-button-toggle-group></app-button-toggle-group> -->
    <!-- <label class="relative" for="kontrolle">Kontrolle aller Eingaben erfolgt: </label>
    <input type="checkbox" name="kontrolle"> -->
    <!-- <input type="checkbox" name="kontrolle">
    <mat-label for="kontrolle"> Kontrolle aller Eingaben durchgeführt.</mat-label> -->

    <div class="mt-2 flex flex-row items-center justify-between">
      <mat-label>Status des Schiffes:</mat-label>
      <div class="ml-2 flex flex-row">
        <button class="w-20 p-1 rounded-l-lg shadow-lg" [ngClass]="(unklar$ | async)?.unklar == false ? 'bg-blue-400 text-white' : 'bg-white'" (click)="changeStatus(false)">Klar</button>
        <button class="w-20 p-1 rounded-r-lg shadow-lg" [ngClass]="(unklar$ | async)?.unklar ? 'bg-red-400 text-white' : 'bg-white'" (click)="changeStatus(true)">Unklar</button>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center justify-between">
      <mat-label>Kontrolle der Eingaben durchgeführt:</mat-label>
      <!-- <input type="checkbox"
        class="mx-4 cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 outline-none"
        (change)="changeSavings()" /> -->
      <div class="ml-2 flex flex-row">
        <button class="w-20 p-1 rounded-l-lg shadow-lg" [ngClass]="control == true ? 'bg-blue-400 text-white' : 'bg-white'" (click)="changeControl()">Ja</button>
        <button class="w-20 p-1 rounded-r-lg shadow-lg" [ngClass]="control == false ? 'bg-red-400 text-white' : 'bg-white'" (click)="changeControl()">Nein</button>
      </div>
    </div>
  </div>
</div>

<div class="w-full mt-4 bg-white rounded-lg shadow-lg" *ngIf="besatzung">
    <div class="flex flex-row p-4 justify-between border-b">
      <div>
        <h2 class="text-lg font-medium">Besatzung</h2>
        <p class="mt-3 text-sm text-gray-500">
          Es wurden keine Besatzungsmitglieder für diese Streife hinterlegt.
        </p>
      </div>
    </div>
</div>

<div class="w-full mt-4 bg-white rounded-lg shadow-lg" *ngIf="checkliste">
    <div class="flex flex-row p-4 justify-between border-b">
      <div>
        <h2 class="text-lg font-medium">Checkliste</h2>
        <p class="mt-3 text-sm text-gray-500">
          Die folgenden Gegenstände sind verbraucht oder nicht vorhanden und müssen ersetzt werden.
        </p>
      </div>
    </div>
    <div *ngFor="let item of unchecked" class="p-4 border-b hover:bg-gray-50 text-red-600">
      {{ item.bezeichnung }}
    </div>
</div>