<app-modal #modalComponent>
    <header>
        <h2 class="m-3 mb-5 text-xl">{{ title }}</h2>
    </header>
    <div class="content">
        <form [formGroup]="positionForm">
            <div class="relative my-5">
              <input type="text" formControlName="id" required>
              <span class="bar"></span>
              <label class="text-black">Id</label>
            </div>
            <div class="relative my-5">
              <input type="text" formControlName="id_streife" required>
              <span class="bar"></span>
              <label class="text-black">Id_Streife</label>
            </div>
            <div class="relative my-5" hidden>
                <input type="text" formControlName="id_ship" required>
                <span class="bar"></span>
                <label class="text-black">Id_Schiff</label>
              </div>
              <div class="relative my-5">
                <input type="datetime-local" formControlName="date">
                <span class="bar"></span>
                <label class="text-black">Datum/Uhrzeit</label>
              </div>
              <div class="flex flex-row items-center">
                <div class="grid grid-cols-2 gap-3" formGroupName="location">
                    <div class="relative my-5">
                        <input type="text" formControlName="latitude" required>
                        <span class="bar"></span>
                        <label class="text-black">Latitude</label>
                    </div>
                    <div class="relative my-5">
                        <input type="text" formControlName="longitude" required>
                        <span class="bar"></span>
                        <label class="text-black">Longitude</label>
                    </div>
                </div>
                <div class="mx-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" />
                    </svg>
                </div>
            </div>
              <div class="relative my-5">
                <input type="textarea" formControlName="description">
                <span class="bar"></span>
                <label class="text-black">Beschreibung</label>
              </div>
          </form>
    </div>
    <footer>
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </footer>
</app-modal>

<ng-template #toolbar>
    <div class="py-3 flex justify-between">
        <!-- <button (click)="delete()" type="button" class="p-2 bg-red-400 text-black rounded">löschen</button> -->
        <a class="flex items-center p-2 bg-gray-800 text-white rounded cursor-pointer" (click)="delete()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
        </a>

        <!-- <button (click)="clear()" type="button" class="p-2 bg-red-400 text-black rounded">leeren</button> -->
        <div>
            
            <!-- <button *ngIf="edit" (click)="update()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Bearbeitung übernehmen</button> -->
            <button *ngIf="!positionForm.pristine && form.id" (click)="update()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Speichern</button>
            <button *ngIf="positionForm.pristine" (click)="cancel()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Schließen</button>
            <button *ngIf="!form.id" (click)="create()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Erstellen</button>
        </div>
    </div>
</ng-template>
