<div>
  <header class="w-full">
    <div class="flex flex-row">
      <app-progress [value]="selectedIndex + 1" [maxvalue]="steps.length"></app-progress>
      <ng-container *ngFor="let step of steps; let i = index;">
        <div *ngIf="selectedIndex === i">
          <ng-container *ngIf="step.stepLabel; else showLabelText" [ngTemplateOutlet]="step.stepLabel.template">
          </ng-container>
          <ng-template #showLabelText class="text-4xl">
            Kein Label vorhanden.
          </ng-template>
        </div>
      </ng-container>
      <status class="flex-grow" [value]="status"></status>
    </div>
  </header>

  <ng-container [ngTemplateOutlet]="selected ? selected.content : null"></ng-container>

  <!-- <footer class="example-step-navigation-bar">
    <button cdkStepperPrevious>&larr;</button>
    <button [class.example-active]="selectedIndex === i" *ngFor="let step of steps; let i = index"
      (click)="selectStepByIndex(i)">
      Step {{ i + 1 }}
    </button>
    <button cdkStepperNext>&rarr;</button>
  </footer> -->
</div>
