<div class="relative mt-5">
    
    <ul class="streifeline">
        <li class="relative px-4 flex flex-col">
            <div class="time">09:58</div>
            <div class="time-item">
                <div class="time-item-title">Titel</div>
                <div class="time-item-content">Content</div>
            </div>
            
            <div class="time mb-5">10:12</div>
        </li>
        <li class="relative px-4 flex flex-col">
            <div class="time">09:58</div>
            <div class="time-item">
                <div class="time-item-title">Titel</div>
                <div class="time-item-content">Content</div>
            </div>
            
            <div class="time mb-5">10:12</div>
        </li>
    </ul>
    <span class="keinestreife"></span>
    <ul class="streifeline">
        <li class="relative px-4 flex flex-col">
            <div class="time">09:58</div>
            <div class="time-item">
                <div class="time-item-title">Titel</div>
                <div class="time-item-content">Content</div>
            </div>
            
            <div class="time mb-5">10:12</div>
        </li>
        <li class="relative px-4 flex flex-col">
            <div class="time">09:58</div>
            <div class="time-item">
                <div class="time-item-title">Titel</div>
                <div class="time-item-content">Content</div>
            </div>
            
            <div class="time mb-5">10:12</div>
        </li>
    </ul>
</div>

<div class="box">
    <ul id="first-list">
        <li>
            <span></span>
            <div class="title">comment #01</div>
            <div class="info">the best animation , the best toturials you would ever see .</div>
            <div class="name">- dr. mohamed -</div>
            <div class="time">
                <span>09:58</span>
                <span>10:12</span>
            </div>
        </li>
        <li>
            <span></span>
            <div class="title">summery #01</div>
            <div class="info">the best animation , the best toturials you would ever see here only . you can learn how to animate and how to use SVG . even else you can add your own animations .</div>
            <div class="name">- eng. amr -</div>
            <div class="time">
                <span>10:58</span>
                <span>11:12</span>
            </div>
        </li>
        <li>
            <span></span>
            <div class="title">comment #02</div>
            <div class="info">the best animation , the best toturials you would ever see . what about canvas ?? do you like it ..</div>
            <div class="name">- dr. ahmed -</div>
            <div class="time">
                <span>11:58</span>
                <span>12:12</span>
            </div>
        </li>
    </ul>
</div>