<div class="main_content">
  <div class="absolute w-screen h-screen -m-px top-0 right-0 bottom-0 left-0">
    <div id="map"></div>
  </div>
</div>

<div class="absolute flex flex-row ml-2 bottom-0 left-0 z-40">
  <button class="flex items-center p-2 mr-2 bg-gray-100 rounded-lg shadow-md cursor-pointer" (click)="center_current_position()">
    <div class="w-8 h-8 mr-2">
      <icons class="w-8 h-8 stroke-1 stroke-current" name="location-marker"></icons>
    </div>
  </button>
  <button class="flex items-center p-2 mr-2 bg-gray-100 rounded-lg shadow-md cursor-pointer" (click)="toggleStandort()">
    <div class="w-8 h-8 mr-2">
      <icons class="w-8 h-8 stroke-1 stroke-current" name="map-pins"></icons>
    </div>
  </button>
  <button class="flex items-center p-2 mr-2 bg-gray-100 rounded-lg shadow-md cursor-pointer" (click)="toggleLastPositions()">
    <div class="w-8 h-8 mr-2">
      <icons class="w-8 h-8 stroke-1 stroke-current" name="ship"></icons>
    </div>
  </button>
</div>