<app-modal #modalComponent>
    <header class="h-16 p-8 flex items-center justify-between border-b">
      <p tabindex="0" class="dark:text-gray-50 focus:outline-none text-2xl font-semibold leading-6 text-gray-800">
        {{ title }}
      </p>
      <button (click)="cancel()" class="w-6 h-6 focus:outline-none rounded-md cursor-pointer">
        <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="x"></icons>
      </button>
    </header>
    <div class="content">
      <p class="p-2 dark:text-gray-50 focus:outline-none text-lg font-semibold leading-6 text-gray-600">
        Schiff
      </p>
      <form [formGroup]="tankTabForm">
          <div class="">
            <mat-form-field appearance="fill">
              <mat-label>id</mat-label>
              <input matInput type="text" formControlName="id" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>id_schiff</mat-label>
              <input matInput type="text" formControlName="id_schiff" readonly>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Bezeichnung</mat-label>
            <input matInput type="text" formControlName="bezeichnung">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Max. Volumen</mat-label>
            <input matInput type="text" formControlName="max_vol">
        </mat-form-field> -->
      </form>

      <p class="mt-5 p-2 dark:text-gray-50 focus:outline-none text-lg font-semibold leading-6 text-gray-600">
        Checkliste
      </p>
      <div class="w-full overflow-x-scroll xl:overflow-x-hidden">
        <table class="min-w-full bg-white dark:bg-gray-800" style="width: 100%;">
          <thead>
              <tr class="w-full h-12 border-gray-300 border-b py-8">
                  <th class="px-2 text-gray-600 dark:text-gray-400 font-normal text-left text-md tracking-normal leading-4 hidden">
                    Id
                  </th>
                  <th class="text-gray-600 dark:text-gray-400 font-normal pr-2 text-left text-md tracking-normal leading-4">
                      Bezeichnung
                  </th>
                  <th class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-md tracking-normal leading-4">
                      Max. Volumen
                  </th>
                  <th class="text-gray-600 dark:text-gray-400 font-normal pr-2 text-left text-md tracking-normal leading-4">
                    
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr class="h-12 bg-gray-50 border-b border-gray-300" *ngFor="let tank of (tanks$ | async | toArray)">
                  <td class="text-sm px-2 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 hidden">
                    {{ tank.id }}
                  </td>
                  <td class="text-sm pr-2 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                    {{ tank.bezeichnung }}
                  </td>
                  <td class="w-12 text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                    {{ tank.max_vol }}
                  </td>
                  <td class="pr-2 leading-4">
                    <button class="w-6 h-6">
                      <icons class="w-6 h-6 stroke-1 stroke-current cursor-pointer" name="edit" (click)="loadTank(tank.id)"></icons>
                    </button>
                  </td>
              </tr>
          </tbody>
        </table>
        <button class="mt-5 p-2 flex items-center bg-gray-100 border border-gray-300 text-gray-600 transition duration-150 ease-in-out hover:bg-blue-600 hover:text-white rounded cursor-pointer" (click)="show = !show">
          <span class="h-6 w-6 mr-2">
              <icons class="w-6 h-6 stroke-1 stroke-current" name="add"></icons>
          </span>
          Tank hinzufügen
        </button>
      </div>
    </div>
    <footer class="absolute h-16 px-8 right-0 bottom-0 left-0 flex items-center justify-between border-t">
      <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </footer>
    <!-- manage -->
    <div *ngIf="show" class="absolute w-full lg:max-w-lg md:max-w-md top-0 bottom-0 right-0 bg-gray-50 dark:bg-gray-800 text-left overflow-hidden shadow-xl sm:align-middle" @slideInRight @slideOutRight>
      <header class="h-16 p-8 flex items-center justify-between border-b">
        <p tabindex="0" class="dark:text-gray-50 focus:outline-none text-2xl font-semibold leading-6 text-gray-800">
          Tank bearbeiten
        </p>
        <button (click)="show = !show" class="w-6 h-6 focus:outline-none rounded-md cursor-pointer">
          <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="arrow-right"></icons>
        </button>
      </header>
      <div class="content">
        <form [formGroup]="tankForm">
          <div class="">
            <mat-form-field appearance="fill">
              <mat-label>id</mat-label>
              <input matInput type="text" formControlName="id" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>id_schiff</mat-label>
              <input matInput type="text" formControlName="id_schiff" readonly>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Bezeichnung</mat-label>
            <input matInput type="text" formControlName="bezeichnung">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Max. Volumen</mat-label>
            <input matInput type="text" formControlName="max_vol">
          </mat-form-field>
        </form>
      </div>
      <footer class="absolute h-16 px-8 right-0 bottom-0 left-0 flex items-center justify-between border-t">
        <div>
          <button (click)="show = !show" type="button" class="p-2 mr-3 bg-gray-800 text-white rounded">Abbrechen</button>
          <button *ngIf="tankForm.value.id" (click)="delete()" type="button" class="p-2 mr-3 bg-red-400 text-black rounded">Löschen</button>
        </div>
        <div>
          <button *ngIf="!tankForm.pristine && tankForm.value.id" (click)="update()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Speichern</button>
          <button *ngIf="!tankForm.value.id" (click)="create()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Erstellen</button>
        </div>
      </footer>
    </div>
  </app-modal>
  
  <ng-template #toolbar>
    <div>
      <button (click)="cancel()" type="button" class="p-2 mr-3 bg-gray-800 text-white rounded">Abbrechen</button>
      <!-- <button *ngIf="tankTabForm.value.id" (click)="delete()" type="button" class="p-2 mr-3 bg-red-400 text-black rounded">Löschen</button> -->
    </div>
    <div>
      <!-- <button *ngIf="!tankTabForm.pristine && tankTabForm.value.id" (click)="update()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Speichern</button>
      <button *ngIf="!tankTabForm.value.id" (click)="create()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Erstellen</button> -->
    </div>
  </ng-template>
  