<tabbar class="shadow-lg z-50" [tabs]="list" labelField="username" [active]="active" (onTabSelect)="changeTab($event)">
  <div class="flex w-full">
    <button class="p-2 px-4 bg-gray-100 hover:bg-gray-200 font-medium shadow-inner rounded-l-lg" (click)="previous(headlineStepper)" [ngClass]="stepperIndex(headlineStepper) ? 'text-gray-400' : ''" [disabled]="stepperIndex(headlineStepper)">Zurück</button>
    <button class="p-2 px-4 bg-gray-100 hover:bg-gray-200 font-medium shadow-inner rounded-r-lg" (click)="next(headlineStepper)" [ngClass]="nextDisable(headlineStepper) ? 'text-gray-400' : ''" [disabled]="nextDisable(headlineStepper)">Weiter</button>
    <button *ngIf="(patrolStatus$ | async)==null" class="flex-grow ml-4 p-2 px-8 bg-gray-100 text-blue-500 font-medium shadow-inner rounded-lg" (click)="initializePatrol(headlineStepper)">Streife erstellen</button>
    <button *ngIf="(patrolStatus$ | async)=='beendet'" class="flex-grow ml-4 p-2 px-8 bg-gray-100 text-blue-500 font-medium shadow-inner rounded-lg" [disabled]="!control" [ngClass]="control ? 'text-blue-500': 'text-gray-400'" (click)="initializePatrol(headlineStepper)">Streife erstellen</button>
    <!--  -->
    <button *ngIf="(patrolStatus$ | async)=='vorbereitend'" class="flex-grow ml-4 p-2 px-8 bg-gray-100 font-medium shadow-inner rounded-lg" [disabled]="!control" [ngClass]="control ? 'text-blue-500': 'text-gray-400'" (click)="updatePatrol('aktiv')">Streife starten</button>
    <!--  -->
    <button *ngIf="(patrolStatus$ | async)=='aktiv'" class="flex-grow ml-4 p-2 px-8 bg-gray-100 font-medium shadow-inner rounded-lg" [disabled]="!control" [ngClass]="control ? 'text-blue-500': 'text-gray-400'" (click)="updatePatrol('beendet')">Streife beenden</button>
    <!--  -->
  </div>
</tabbar>
  
  <div class="main_content overflow-hidden">
      <headline-stepper [linear]="isLinear" [status]="(patrolStatus$ | async)" #headlineStepper>
        <cdk-step [editable]="isEditable" [optional]="false">
          <!-- [stepControl]="zweckFormGroup.get('kennung')!" -->
          <ng-template cdkStepLabel>
            <div class="ml-5">
              <h4 class="text-2xl text-blue-600">Streife</h4>
              <!-- <p class="text-lg text-gray-600">Next: <button type="submit" class="cursor-pointer" cdkStepperNext>Besatzung</button></p> -->
            </div>
          </ng-template>
          <app-schiff (statused)="setStatus($event)" (formReady)="subformReady($event)"></app-schiff>
        </cdk-step>
        <cdk-step [editable]="isEditable" [optional]="false">
          <ng-template cdkStepLabel>
            <div class="ml-5">
              <h4 class="text-2xl text-blue-600">Besatzung</h4>
              <!-- <p class="text-lg text-gray-600">Folgend: <button type="submit" class="cursor-pointer" cdkStepperNext>Zählerstände</button></p> -->
            </div>
          </ng-template>
          <app-besatzung></app-besatzung>
        </cdk-step>
        <cdk-step [editable]="isEditable" [optional]="false">
          <ng-template cdkStepLabel>
            <div class="ml-5">
              <h4 class="text-xl text-blue-600">Zählerstände</h4>
              <!-- <p class="text-lg text-gray-600">Folgend: <button type="submit" class="cursor-pointer" cdkStepperNext>Prüfvermerke</button></p> -->
            </div>
          </ng-template>
          <app-zaehlerstand></app-zaehlerstand>
        </cdk-step>
        <cdk-step [editable]="isEditable" [optional]="false">
          <ng-template cdkStepLabel>
            <div class="ml-5">
              <h4 class="text-xl text-blue-600">Prüfvermerke</h4>
              <!-- <p class="text-lg text-gray-600">Folgend: <button type="submit" class="cursor-pointer" cdkStepperNext>Betankung</button></p> -->
            </div>
          </ng-template>
          <pruefvermerke></pruefvermerke>
        </cdk-step>
        <cdk-step [editable]="isEditable" [optional]="false">
          <ng-template cdkStepLabel>
            <div class="ml-5">
              <h4 class="text-2xl text-blue-600">Betankung und Peilung</h4>
              <!-- <p class="text-lg text-gray-600">Folgend: <button type="submit" class="cursor-pointer" cdkStepperNext>Kontrolle der Eingaben</button></p> -->
            </div>
          </ng-template>
          <peilung></peilung>
          <app-betankung></app-betankung>            
        </cdk-step>
        <cdk-step>
          <ng-template cdkStepLabel>
            <div class="ml-5">
              <h4 class="text-2xl text-blue-600">Checkliste</h4>
            </div>
          </ng-template>
          <app-checkliste></app-checkliste>
        </cdk-step>
        <cdk-step>
          <ng-template cdkStepLabel>
            <div class="ml-5">
              <h4 class="text-2xl text-blue-600">Wartung</h4>
            </div>
          </ng-template>
          <wartung></wartung>
        </cdk-step>
        <cdk-step [editable]="isEditable" [optional]="false">
          <ng-template cdkStepLabel>
            <div class="ml-5">
              <h4 class="text-2xl text-blue-600">Kontrolle der Eingaben</h4>
            </div>
          </ng-template>
          <kontrolle (controled)="setControl($event)" (statused)="setStatus($event)"></kontrolle>
        </cdk-step>
      </headline-stepper>
  </div>