<app-modal #modalComponent>
    <header class="h-16 p-8 flex items-center justify-between border-b">
      <p tabindex="0" class="dark:text-gray-50 focus:outline-none text-2xl font-semibold leading-6 text-gray-800">
        {{ title }}
      </p>
      <button (click)="cancel()" class="w-6 h-6 focus:outline-none rounded-md cursor-pointer">
        <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="x"></icons>
      </button>
    </header>
    <div class="content">
      <form [formGroup]="dienststelleForm">
        <div class="hidden">
          <mat-form-field appearance="fill">
            <mat-label>id</mat-label>
            <input matInput type="text" formControlName="id" readonly>
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Bezeichnung</mat-label>
          <input matInput type="text" formControlName="bezeichnung">
        </mat-form-field>
        <div formGroupName="position" class="flex flex-row">
          <mat-form-field appearance="fill">
            <mat-label>Latitude</mat-label>
            <input matInput type="text" formControlName="latitude">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Longitude</mat-label>
            <input matInput type="text" formControlName="longitude">
          </mat-form-field>
        </div>
        <div formGroupName="adresse">
          <div class="flex flex-row">
            <mat-form-field class="flex-grow mr-2" appearance="fill">
              <mat-label>Strasse</mat-label>
              <input matInput type="text" formControlName="strasse">
            </mat-form-field>
            <mat-form-field class="w-32" appearance="fill">
              <mat-label>Hausnummer</mat-label>
              <input matInput type="text" formControlName="hausnummer">
            </mat-form-field>
          </div>
          <div class="flex flex-row">
            <mat-form-field class="flex-grow mr-2" appearance="fill">
              <mat-label>Ort</mat-label>
              <input matInput type="text" formControlName="ort">
            </mat-form-field>
            <mat-form-field class="w-32" appearance="fill">
              <mat-label>Postleitzahl</mat-label>
              <input matInput type="text" formControlName="postleitzahl">
            </mat-form-field>h
          </div>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Mail</mat-label>
          <input matInput type="text" formControlName="mailadresse">
        </mat-form-field>
      </form>
    </div>
    <footer class="absolute h-16 px-8 right-0 bottom-0 left-0 flex items-center justify-between border-t">
      <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </footer>
  </app-modal>
  
  <ng-template #toolbar>
    <div>
      <button (click)="cancel()" type="button" class="p-2 mr-3 bg-gray-800 text-white rounded">Abbrechen</button>
      <button *ngIf="dienststelleForm.value.id" (click)="delete()" type="button" class="p-2 mr-3 bg-red-400 text-black rounded">Löschen</button>
    </div>
    <div>
      <button *ngIf="!dienststelleForm.pristine && dienststelleForm.value.id" (click)="update()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Speichern</button>
      <button *ngIf="!dienststelleForm.value.id" (click)="create()" type="button" class="p-2 ml-3 bg-gray-800 text-white rounded">Erstellen</button>
    </div>
  </ng-template>