<div class="w-full mt-4 mb-4 bg-white hover:bg-gray-50 rounded-lg shadow-lg" #scContainer>
  <div class="flex flex-row p-4 justify-between bg-white border-b rounded-t-lg z-10" sticky [scrollContainer]="scContainer" [top]="-8">
    <div>
      <h2 class="text-2xl ">Streife</h2>
      <p class="text-sm text-gray-500">
        Der Status der Streife ist {{ (patrol$ | async)?.status }}.
      </p>
    </div>
    <div>
      <button class="w-8 h-8 m-2 cursor-pointer" (click)="deletePatrol()">
        <icons class="w-8 h-8 stroke-1 stroke-current text-gray-500" name="trash"></icons>
      </button>
    </div>
  </div>
  <div class="p-4">
    <!-- <mat-form-field appearance="fill">
        <mat-label>Kennung</mat-label>
        <mat-select formControlName="kennung" [disabled]="(patrolStatus$ | async)!='vorbereitend'">
          <mat-option *ngFor="let kennung of (kennungen$ | async)" [value]="kennung.bezeichnung">
            {{ kennung.bezeichnung }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    <form [formGroup]="patrolForm">
      <div class="hidden">
        <mat-form-field appearance="fill">
          <mat-label>id</mat-label>
          <input matInput type="text" formControlName="id">
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Kennung</mat-label>
        <input matInput type="text" formControlName="kennung">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fahrtzweck</mat-label>
        <mat-select formControlName="zweck" [disabled]="(patrol$ | async)?.status != 'vorbereitend'">
          <mat-option *ngFor="let zweck of (zwecke$ | async | orderBy:'bezeichnung')" [value]="zweck.bezeichnung">
            {{ zweck.bezeichnung }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form [formGroup]="shipForm">
      <div class="hidden">
        <mat-form-field appearance="fill">
          <mat-label>id</mat-label>
          <input matInput type="text" formControlName="id">
        </mat-form-field>
        <!-- <mat-form-field appearance="fill">
          <mat-label>status</mat-label>
          <input type="checkbox" formControlName="durchsicht">
        </mat-form-field> -->
      </div>
    </form>
    <div class="mt-3 flex flex-row items-center justify-between">
      <mat-label>Autom. Speicherung der Position:</mat-label>
      <!-- <input type="checkbox"
        class="mx-4 cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 outline-none"
        (change)="changeSavings()" /> -->
      <div class="ml-2 flex flex-row">
        <button class="w-20 p-1 rounded-l-lg shadow-lg" [ngClass]="saving == true ? 'bg-blue-400 text-white' : 'bg-white'" (click)="changeSaving()">Aktiv</button>
        <button class="w-20 p-1 rounded-r-lg shadow-lg" [ngClass]="saving == false ? 'bg-blue-400 text-white' : 'bg-white'" (click)="changeSaving()">Inaktiv</button>
      </div>
    </div>
  </div>
</div>
