<div class="relative container h-16 px-6 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between z-10">
  <div>
      <p class="flex items-center text-gray-500 text-xs">
          <span>
            Streifen > Ausgewählte Streife
          </span>
      </p>
      <h4 class="text-2xl font-bold leading-tight text-gray-800">Ausgewählte Streife</h4>
  </div>
</div>
<div class="absolute top-20 right-0 bottom-0 left-0">
  <div class="relative w-full h-full">
    <div class="absolute top-2 bottom-2 left-2 w-64 bg-gray-50">
      <tab-standorte (hovered)="hovered($event)"></tab-standorte>
    </div>
    <div class="absolute top-2 right-2 bottom-2 bg-blue-100 transition-all shadow" [ngClass]="status ? 'left-64' : 'left-2'">
      <div id="map"></div>
      <div class="absolute top-0 right-0 left-0 h-12 bg-gray-100 bg-opacity-50 z-40">
        <button class="w-8 h-8 m-2" *ngIf="!status" (click)="status = !status">
          <icons class="w-8 h-8 stroke-2 stroke-current" name="menu"></icons>
        </button>
        <button class="w-8 h-8 m-2" *ngIf="status" (click)="status = !status">
          <icons class="w-8 h-8 stroke-2 stroke-current" name="arrow-left"></icons>
        </button>
        <button class="w-8 h-8 m-2" (click)="center_current_position()">
          <icons class="w-8 h-8 stroke-1 stroke-current" name="location-marker"></icons>
        </button>
        <!-- <button class="w-8 h-8 m-2">
          <icons class="w-8 h-8 stroke-1 stroke-current" name="arrow-back-up"></icons>
        </button> -->
      </div>
    </div>
  </div>
</div>
