<div class="relative w-full h-full">
	<div class="absolute top-2 bottom-2 left-2 w-64 bg-gray-50">
		<!-- <tab-schiffe (checked)="checked($event)" (hovered)="hovered($event)"></tab-schiffe> -->
    <tab-standorte></tab-standorte>
	</div>
	<div class="absolute top-2 right-2 bottom-2 bg-blue-100 transition-all shadow" [ngClass]="status ? 'left-64' : 'left-2'">
    <div id="map"></div>
    <div class="absolute top-0 right-0 left-0 h-12 bg-gray-100 bg-opacity-50 z-40">
      <button class="w-8 h-8 m-2" *ngIf="!status" (click)="status = !status">
        <icons class="w-8 h-8 stroke-2 stroke-current" name="menu"></icons>
      </button>
      <button class="w-8 h-8 m-2" *ngIf="status" (click)="status = !status">
        <icons class="w-8 h-8 stroke-2 stroke-current" name="arrow-left"></icons>
      </button>
      <button class="w-8 h-8 m-2" (click)="center_current_position()">
        <icons class="w-8 h-8 stroke-1 stroke-current" name="location-marker"></icons>
      </button>
      <button class="w-8 h-8 m-2">
        <icons class="w-8 h-8 stroke-1 stroke-current" name="arrow-back-up"></icons>
      </button>
    </div>
	</div>
</div>